h1{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator{
    width: 300px;
    padding: 30px;
    border-radius: 8px;
}

#display{
    background-color: #eee;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    background-color: aqua;
    border: none;
}