*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.calculator{
    width: 330px;
    background-color: #c8ecfe;
}

#display{
    height: 75px;
    padding: 20px;
    margin: 10px;
    text-align: right;
    color: #fff;
    font-size: 2.5rem;
    background-color: #9c9ba1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: auto;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #c8ecfe;
    margin: 10px;
    
    #operator{
        background-color: #fd6202;
    }

    #numberL1{
        background-color: #fbd9f0;
    }

    #numberL2{
        background-color: #f7ebbd;
    }

    #numberL3{
        background-color: #cae4c8;
    }

    #numberL4{
        background-color: #e7cdef;
    }

    #point{
        background-color: #e7cdef;
    }

    #result{
        background-color: #e7cdef;
    }

    #allClean{
        background-color: #e7e9f8;
    }
}

button{
    padding: 20px;
    font-size: 1.5rem;
    color: #545454;
    border-radius: 50%;
    margin: 2px;
}